.menu-header {
  width: 100%;
  height: 40px;
  background: #333;
  border-bottom: 1px solid #333;
  box-shadow: 0 2px 2px -2px chocolate;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  & > ul {
    display: flex;
    margin: 0 50px;
    position: relative;

    & > li {
      &:hover ul {
        display: block;
      }

      & > ul {
        position: absolute;
        left: 0;
        right: 0;
        display: none;
        background-color: rgb(255, 255, 255);
        border: 1px solid #cececece;
        & > li {
          float: left;
          margin: 0 20px;
          min-width: 150px;
          & > a {
            font-weight: bold;
            display: block;
          }
          & a {
            padding: 3px 0;
            display: block;
            font-size: 12px;
            text-decoration: none;
            color: #707070;
            &:hover {
              color: black;
            }
          }
        }
      }
      & > span {
        display: block;
        cursor: pointer;
        line-height: 40px;
        padding: 0 20px;
        color: white;
        font-size: 14px;

        &:hover {
          color: #1daaa3;
        }
      }
    }
  }
}
