.cart-item-container {
  margin: 10px 5px;

  & .flex-row {
    align-items: center;
    padding: 20px;

    & .cart-details {
      &__img {
        width: 112px;
        overflow: hidden;
        text-align: center;

        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      &__info {
        margin: 10px 20px;
        width: 70%;
      }
    }
  }
}
.quantity-control {
  display: flex;
  align-items: center;
  & input[type="number"] {
    width: 40px;
    height: 20px;
    border: 1px solid coral;
    margin: 0 5px;

    text-align: center;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }

  & button {
    outline: none;
    border: none;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    background-color: #f98e7c;
    color: white;
    text-align: center;
    outline: 0px;
    cursor: pointer;
  }
}
.cart-action-btn {
  margin: 0 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border: 1px solid;
  cursor: pointer;
  font-size: 10px;
  width: 70px;
  height: 30px;

  background: rgb(149, 150, 149);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
