.cart-container {
  display: flex;
  max-width: 1260px;
  margin: auto;
  align-items: flex-start;

  .card {
    border: 1px solid #cecece;
    margin-top: 20px;

    background: #fffefe;
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);

    &-header {
      font-size: 16px;
      padding: 5px 10px;
      color: whitesmoke;
      font-weight: bold;

      background: rgba(255, 38, 0, 0.493);
      backdrop-filter: blur(2.5px);
      -webkit-backdrop-filter: blur(2.5px);
      border: 1px solid rgba(255, 255, 255, 0.18);
    }
  }
}

.checkout-container-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  background: #ffffff;

  padding: 10px 0;
  box-sizing: border-box;
  & .materialButton {
    background: cornflowerblue;
  }
}
