.card {
  border: 1px solid #cecece;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 5px 10px;
    color: whitesmoke;
  }
}
