.checkout-container {
  width: calc(100% - 400px);
}
.checkout-step {
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.checkout-header {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  background-color: rgb(255, 167, 95);
  font-size: 20px;
  border-bottom: 1px solid #323232;
}
.checkout-header.active {
  background: #2874f0;
}
.checkout-header .step-number {
  display: inline-block;
  text-align: center;
  background: #eee;
  color: #2874f0;
  border-radius: 3px;
  font-size: 12px;
  box-sizing: border-box;
  padding: 3px 7px;
  cursor: pointer;
}
.checkout-header.active .step-number {
  background: #fff;
}
.step-title {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: white;
  margin-left: 15px;
  cursor: pointer;
}
.checkout-header.active .step-title {
  color: #fff;
}
.loggedin-id {
  font-size: 14px;
  margin: 0px 0px 10px 10px;
  color: darkcyan;
  padding: 10px;
}
.address {
  &-container {
    box-sizing: border-box;
    padding: 20px;
    background: #f5faff;
    & .address-info {
      padding-left: 15px;
      box-sizing: border-box;
      width: 100%;
    }
    & .address-detail {
      display: flex;
      justify-content: space-between;
      width: 100%;
      box-sizing: border-box;
      padding-bottom: 20px;
      font-weight: 600;
      font-family: "Roboto";
      font-size: 12px;
      color: #333;
    }
    & .address-type {
      display: inline-block;
      margin: 0 10px;
      text-transform: uppercase;
      background: #eee;
      font-weight: 500;
      padding: 1px 5px;
      font-size: 10px;
      border-radius: 2px;
      color: #777777;
    }
    & .full-address {
      font-size: 12px;
      letter-spacing: 1px;
      line-height: 18px;
    }
    & .step-completed {
      padding: 0 0 20px 60px;
      font-size: 12px;
    }

    & .edit-address-btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      outline: none;
      background-color: orange;
      color: white;
      cursor: pointer;
      &:hover {
        background-color: rgba($color: orange, $alpha: 0.5);
      }
    }
  }
}

.checkout-body {
  padding: 0 60px;
  padding-bottom: 20px;
  box-sizing: border-box;
  background-color: white;
}
